   <!-- START SECTION -->
        <div class="section background-dark dark-bg">
            <div class="col-md-12 margin-top-md margin-bottom-md" style="opacity: .2;">
                        <hr/>
                    </div>
                    <div class="col-md-12 margin-top-md text-center font-size-sm text-upercase">
                        <p>©</p>
            </div>
        </div>
        <!--/.section -->

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>