<!DOCTYPE html>
<html lang="en" class="en">
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="<%=dt.spath %>css/main<%=dt.min%>.css?v=<%=dt.ver%>">
        <script type="text/javascript" src="<%=dt.spath %>js/app<%=dt.min%>.js?v=<%=dt.ver%>"></script>
        <script src="//code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="<%=dt.spath %>js/controllers/<%=dt.contrl %>Controller<%=dt.min%>.js?v=<%=dt.ver%>"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </html>
