<% include head.html %>

    <body ng-app="querencia" class="overflow_x" ng-cloak ng-controller="homePage" id='contHt'>
        <div class="section hero text-center background-dark dark-bg">
            <div class="background-image" style="background: url(images/hero.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Querencia</h2>
                        <p class="lead">Best Courses. Top Institution.
                            <br> Learn anytime, anywhere.</p>
                        <ul class="list-inline">
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-info">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-primary">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-info">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-primary">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-info">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-primary">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-info">Cat1</a>
                            </li>
                            <li>
                                <a href="#" title="Learn More" class="btn btn-md btn-primary">Cat1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section background-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">About Us</h2>
                        <p class="section-description">
                            <br>The term
                            <strong>Querencia</strong> means
                            <strong>"A place from where a person gets all his/her strength"</strong>.
                            <br>
                            <br> We at Querencia are determined to create a setup in the Education field to impart Best quality
                            education with the integration of all modern practices at affordable price. We are Team of highly
                            competent, subject experts who are dedicated to help out the students in reaching the pinnacle
                            of their career. We feel proud to let you know we are providing Facilities of "Coaching classes"
                            and "Home tuition" altogether as we have come up with the Complete solution to all the academic
                            issues. Apart from these main services we will provide facilities of "Library", "Career Counseling",
                            "Test Series", "Special doubt classes" and "Expert's notes" to meet the standard of most renowned
                            Educational setups.In Querencia we believe "There is a universal debt if you are born privileged
                            " hence we are continuously working to bring a positive change in society through this unique
                            initiative.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section hero text-center background-primary dark-bg">
            <div class="background-image" style="background: url(images/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <strong>Our Vision</strong>
                        </h3>
                        <br>
                        <p class="section-description">
                            Our vision is to become a educational set up that works towards the entire development of its students by strengthening the
                            brightest and young minds to achieve and fly high in sky so as to achieve best in their lives.
                            Every child needs a champion we nurture the students to explore their full potential so as to
                            boost their self-confidence and moral in order to realize their dreams by advanced teaching methodology.
                            Vision is the art of seeing things invisible We ensure that our students gain an understanding
                            of the courses they enroll for and get mentorship in career directions while enhancing the educational
                            process as they become the next generation of professionals. Vision without execution is hallucination
                            we deliver quality education to each and every student and to ensure his or her success. We commit
                            ourselves to excellent education and boast of a number of faculty members who are totally devoted
                            and committed so as to build trust and between teachers and students.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">Our Team</h2>
                        <p class="section-description">
                            Great teamwork is the only way we create the breakthroughs that define our careers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="entry">
                            <div class="entry-media">
                                <a href="#" title="">
                                    <span class="absolute-wrapper"></span>
                                    <img src="images/blog1.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <h3 class="entry-title">
                                <a href="#">Achal Kumar</a>
                            </h3>
                            <p>Co-Founder & Managing director
                                <br>B.Tech (Computer Science & Engg.</p>
                        </div>
                        <!--/.entry-->
                    </div>
                    <div class="col-md-4">
                        <div class="entry">
                            <div class="entry-media">
                                <a href="#" title="">
                                    <span class="absolute-wrapper"></span>
                                    <img src="images/blog2.jpg" alt="" class="img-responsive mx-auto rounded-circle">
                                </a>
                            </div>
                            <h3 class="entry-title">
                                <a href="#">Abhishek Dubey</a>
                            </h3>
                            <p>Co-Founder & Operational Director
                                <br>B.Tech (Computer Science & Engg.)</p>
                        </div>
                        <!--/.entry-->
                    </div>
                    <div class="col-md-4">
                        <div class="entry">
                            <div class="entry-media">
                                <a href="#" title="">
                                    <span class="absolute-wrapper"></span>
                                    <img src="images/blog3.jpg" alt="" class="img-responsive">
                                </a>
                            </div>
                            <h3 class="entry-title">
                                <a href="#">Divyanshu Tripathi</a>
                            </h3>
                            <p>Co-Founder & Director Academics
                                <br>B.Tech (Computer Science & Engg.)</p>
                        </div>
                        <!--/.entry-->
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <div class="section hero text-center background-dark dark-bg">
            <div class="background-image" style="background: url(images/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase letter-spacing-md font-weight-lg margin-zero">At Your Service</h3>
                        <br>
                        <br>
                        <p>Behind every fearless player is a fearless coach who refused to let them be anything but the best
                            they can be</p>
                        <section id="services">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <hr class="my-4">
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                                            <h3 class="mb-3">Home Tution</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Coaching Classes</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Expert's Notes</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Test-Series</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Revision Classes</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Library</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Doubt Classes</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="service-box mt-5 mx-auto">
                                            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                                            <h3 class="mb-3">Carrer Counselling</h3>
                                            <p class="text-muted mb-0"></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <div class="section hero text-center background-light">
            <div class="background-image" style="background: url(images/hero.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase letter-spacing-md font-weight-lg margin-zero">Contact Us</h3>
                        <br>
                        <p class="section-description">Feel free to contact us with questions, partnership proposals, media inquiries, or just to say “hi.”
                            </p>
                        <!-- START SECTION -->
                        <div class="section">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                    </div>
                                    <div class="col-md-8 col-md-offset-2">
                                        <form id="contact" method="post" class="form" role="form">
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input class="form-control" id="name" name="name" placeholder="Name" ng-model="name" type="text" required />
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input class="form-control" id="email" name="email" placeholder="Email" ng-model="email" type="email" required />
                                                </div>
                                            </div>
                                            <textarea class="form-control" id="message" name="message" placeholder="Message" ng-model="message" rows="5"></textarea>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12 form-group">
                                                    <button class="btn btn-primary" ng-click = "submitEnquiry()" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--/.row-->
                            </div>
                            <!--/.container-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section background-dark dark-bg">
            <div class="col-md-12 margin-top-md margin-bottom-md" style="opacity: .2;">
                <hr/>
            </div>
            <div class="col-md-12 margin-top-md text-center font-size-sm text-upercase">
                <p>©</p>
            </div>
        </div>
    </body>
    </html>